{{ define "main" }}
    <em class="timeago page-header" datetime="{{ .Date }}"></em>
    {{ if .Params.project.repo }}
        <em class="page-header">·</em>
        <a href="{{ .Params.project.repo }}" class="page-header">open repo</a>
    {{ end }}
    <em class="page-header">·</em>
    <em class="page-header">{{ .Params.project.language }}</em>

    <h1 class="page-header">{{ .Title }}</h1>

    {{ .Content }}

    <script src="https://giscus.app/client.js"
        data-repo="wait-what/waitwhat.sh"
        data-repo-id="R_kgDOGH_emg"
        data-category="Project comments"
        data-category-id="DIC_kwDOGH_ems4COK3U"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="transparent_dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
    </script>

    <br><hr><br>
    <a href="/">go home</a>
    <em class="page-footer">·</em>
    <a href="/projects">all projects</a>
    <br><br><br>

    <script>
        timeago.render(document.querySelectorAll('.timeago'))
    </script>
{{ end }}
