{{ define "main" }}
    <em class="timeago page-header" datetime="{{ .Date }}"></em>
    <em class="page-header">·</em>
    <em class="page-header">reading time: {{ math.Round (div (countwords .Content) 220.0) }} min</em>

    <h1 class="page-header">{{ .Title }}</h1>

    {{ .Content }}

    <br>
    <script src="https://giscus.app/client.js"
        data-repo="wait-what/waitwhat.sh"
        data-repo-id="R_kgDOGH_emg"
        data-category="Blog comments"
        data-category-id="DIC_kwDOGH_ems4COK3V"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="transparent_dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
    </script>

    <hr><br>
    <a href="/">go home</a>
    <em class="page-footer">·</em>
    <a href="/blog">all posts</a>
    <br><br><br>

    <script>
        timeago.render(document.querySelectorAll('.timeago'))
    </script>
{{ end }}
