<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>wait_what_</title>

    {{ $pageTitle := (cond (ne .Title "") .Title "wait_what_") }}
    <meta property="og:title" content="{{ $pageTitle }}" />

    {{ $pageDescription := (cond (ne .Description "") .Description "i use arch btw") }}
    <meta property="og:description" content="{{ $pageDescription }}" />

    <meta property="og:site_name" content="wait_what_" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="https://waitwhat.sh/favicon.png" />

    <link rel='icon' type='image/png' href='/favicon.png'>
    <link rel='stylesheet' href='/styles.css'>

    <script src="/timeago.min.js"></script>
    <script defer data-domain="waitwhat.sh" src="https://plausible.waitwhat.sh/js/plausible.js"></script>
</head>

<body>
    <div class="center-h">
        <div class="container">
            <div>
                <h1 class="center-h navbar">
                    <a id="navbar-h1" href="/">wait_what_</a>
                </h1>

                <br class="navbar">

                <a class="navbar" id="home" href="/">home</a>
                <a class="navbar" href="/projects/">projects</a>
                <a class="navbar" href="/blog/">blog</a>
                <a class="navbar" href="/links/">links</a>
                <a class="navbar" href="/contact/">contact</a>

                <hr class="navbar">
            </div>

            <div id="content">
                {{- block "main" . }}{{- end }}
            </div>
        </div>
    </div>
</body>

</html>
