{{ define "main" }}
    <div id="homepage-introduction">
        <img id="homepage-image" src="/pfp.png" alt="What">
        <div id="homepage-description">
            <h1 id="homepage-title">hello</h1>
            I am <strong>wait_what_</strong>, a developer, linux sysadmin with 6+ years
            of experience, mainly focused in <strong>web</strong> devlopment and
            <strong>games</strong>. I like to write code and mess with electronics and
            3D printers and stuff. I use <a href="https://archlinux.org/">Arch</a> btw.
        </div>
    </div>

    <h2 class="homepage-section">featured projects</h2> <a href="/projects" class="homepage-section">see all</a>
    <div class="grid">
        {{- range where (where site.RegularPages "Section" "projects") ".Params.project.featured" true | first 6 }}
            {{ partial "project_card.html" . }}
        {{- end -}}
    </div>

    <h2 class="homepage-section">latest posts</h2> <a href="/blog" class="homepage-section">see all</a>
    {{- range where site.RegularPages "Section" "blog" | first 3 }}
        {{ partial "blog_card.html" . }}
    {{- end -}}

    <script>
        timeago.render(document.querySelectorAll('.timeago'))
    </script>
{{ end }}
