/* Font */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans&display=swap');


/* General */

body {
    background-color: #161920;
    font-family: 'Fira Sans', monospace;
    color: #dfdfdf;
    line-height: 1.8;
}

hr {
    border-top: 2px dotted #ffffff1e;
    border-bottom: none;
    border-left: none;
    border-right: none;
}


/* Scrollbar */

body {
    scrollbar-width: thin;
    scrollbar-color: #ffffff66 #00000033;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
  background: #00000033;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff66;
}

/* Selection */

::-moz-selection {
    background: #ffffff40;
}

::selection {
    background: #ffffff40;
}


/* Hidden */

.hidden {
    display: none;
}


/* Centering */

.center-h {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/* Responsive width */

.container {
    width: 50%;
}

@media (max-width: 1500px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 900px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .container {
        width: 90%;
    }
}


/* Responsive grid */

div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 900px) {
    div.grid {
        grid-template-columns: 1fr;
    }
}


/* Navbar */

h1.navbar {
    color: #17181d !important;
    background-color: #dfdfdf;
    line-height: 1.8em;
    padding-left: 0.2em;
    padding-right: 0.25em;
    margin-right: 0.5em;
    display: inline-block;
}

br.navbar {
    display: none;
}

@media (max-width: 578px) {
    br.navbar {
        display: inline-block;
    }

    a.navbar {
        padding: 0px 0px 0px 3px;
    }
}

@media (max-width: 589px) {
    a#home {
        display: none;
    }
}

a.navbar {
    display: inline-block;
    margin-bottom: 6px;
    padding: 0px 0px 0px 3px;
    text-decoration-line: none;
    font-size: 20px;
    color: #dfdfdf;
    width: fit-content;
}

a.navbar:after {
    content: '';
    display: block;
    border-bottom: 2px solid #dfdfdf;
    width: 0%;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}

a.navbar:hover:after {
    width: 100%;
}

#navbar-h1 {
    color: inherit;
    text-decoration: none;
}


/* Section titles */

h2.homepage-section {
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    margin-top: 0;
}

/* Markdown styling */

h1:not(.blogpost), h2, h3, h4, h5, h6 {
    color: #dfdfdf;
}

a:not(.navbar) {
    font-weight: bold;
    color: #a2d1ff;
    text-decoration: none;
}

a:not(.navbar):hover {
    text-decoration: underline;
}

strong {
    color: #ffa4a4;
}

em {
    color: #9d9d9d;
    font-style: normal;
}

blockquote {
    margin-inline-start: 5px;
    border-left: 5px solid #ffa4a4;
}

blockquote > p {
    margin-inline-start: 10px;
    color: #dfdfdf;
}

div > p {
    text-align: justify;
}

code {
    font-family: 'Fira Code', monospace;
}

:not(pre) > code {
    color: #e8e8e8;
    padding: 1px 4px 1px 4px;
    background-color: #ffa4a421;
}

pre {
    padding: 10px 10px 10px 10px;
    background-color: #0000001c !important;
    overflow-x: auto;
    max-width: 90vw;
    border: 2px solid #ffffff1e;
}

img {
    max-width: 100%;
    border: 2px solid #4f4e57a6;
}


/* Blog and project styling */

h1.page-header {
    margin-top: 6px;
}

em.page-header, em.card {
    margin-right: 5px;
}

em.page-footer {
    margin-left: 5px;
    margin-right: 5px;
}

a.page-header {
    margin-right: 6px;
}

a.card {
    margin-right: 8px;
}

div.card {
    background-color: #09093606;
    padding: 20px 20px 20px 20px;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    line-height: 1em;
    border: 1px solid #ffffff14;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

div.card:hover {
    background-color: #282d4410;
    border: 1px solid #ffffff30;
}

@media (max-width: 450px) {
    em.card-lang {
        display: none;
    }
}

@media (max-width: 386px) {
    em.card-time {
        display: none;
    }
}


/* Homepage styling */

div#homepage-description {
    text-align: justify;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
    margin-right: 1em;
}

img#homepage-image {
    max-height: 15vh;
    margin: 1em;
    -webkit-transition: scale 0.8s;
    transition: scale 0.8s;
}

img#homepage-image:hover {
    scale: 1.04;
}

@media (max-width: 660px) {
    img#homepage-image {
        display: none;
    }
}

div#homepage-introduction {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

h1#homepage-title {
    margin: 0;
}
